#story {
    display: none;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
body{
    background-color: black;
    background-image: url(Images/black\ smoke.png);
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}   
.btn{
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1;
    border-color: antiquewhite;
    box-shadow: 2px;
}
.head1{
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.head2{
    text-align: center;
}